#calculator {
    max-width: 500px;
    overflow: hidden;
    background-color: lightgray;
    padding: 10px;              
    border-radius: 20px;        
}

#display {
    width: 100%;
    padding: 20px;
    color: black;               
    font-size: 10rem;
    text-align: right;          
    border: none;
    background-color: lightgray;    
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;                  
}

button {
    width: 250px;                
    height: 250px;
    border-radius: 25px;
    border: none;
    color: black;
    font-size: 10rem;            
    font-weight: bold;
}

button:hover {
    background-color: gray;
}

.calculate {
    background-color: burlywood;
    color: white;
}

.operator {
    color: burlywood;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}
